.App {
  text-align: center;
}


.home-image {
  width: 40px;
  height: 40px;
}

.header-container {
  background-color: #61dafb;
  width: 100vh;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}